<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Some Website</title>
  </head>
  <body>
    <h1>Be right back!</h1>
    <p>The site is currently down for maintenance</p>

    {{> footer}}
  </body>
</html>
